<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.hospital.mybatis.model.Hospital" alias="Hospital"/>
        <typeAlias type="com.hospital.mybatis.model.Illness" alias="Illness"/>
        <typeAlias type="com.hospital.mybatis.model.Patient" alias="Patient"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="PskDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/HospitalMapper.xml"/>
        <mapper resource="mybatis.xml/IllnessMapper.xml"/>
        <mapper resource="mybatis.xml/PatientMapper.xml"/>
    </mappers>
</configuration>
